# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env
.env.local

# FastAPI / logs
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Builds
dist/
build/
*.egg-info/